VITE_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
VITE_PRELAUNCH_MODE=true
VITE_VAPID_PUBLIC_KEY=Vn64IDwVmFWv8NE40HTwJ8ek4o7N87NhZBvU_ntpIvoQvqKNdiQOO3V3usfbXSd28PAM9G1FK4UCJXWQgy0ZVA
